body{
    background-color: rgb(255, 191, 73);
    display: flex;
    flex-direction: center ;
    align-items:flex-start;
}

p{
    text-align: center;
}

.div-form{
    width: 20%;
    background-color: red;
    padding: 0.5%;
    margin: 3%;
}

.div-form p{
    padding: 3%;
    font-size: 20px;
}

.div-form div{
    display: flex;
    justify-content: space-between;
    background-color: green;
}

.section-div-form{
    margin: 2%;
}


#balance-title{
    font-size: 30px;
    margin-top: -1%;
    margin-bottom: -20px;
}

#balance-text{
    font-size: 50px;
    margin-bottom: 1%;
}


#main-white-space{
    background-color: white;
    margin-top: 3%;
    width: 90%;
    border-radius: 20px;
    padding: 2%;
    margin: 3%;
}

#balance-div{
    background-color: red;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#action-table{
    background-color: rgb(173, 173, 173);
    width: 100%;
}

#action-table td{
    
    height: 50px;
    padding: 15px;
    text-align: center;
}

#action-table td:first-child{
    width: 110px;
}

#action-table td:nth-child(4){
    width: 10%;
}

.INGRESO{
    background-color: rgba(194, 255, 103, 0.658);
}

.EGRESO{
    background-color: #fc5a5ac2;
}